.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: flex-start;
  text-align: center;
  margin-left: 20px;
}

.headingLevel2--shelfTitle {
  color: #000000;
  font-size: 20px;
  font-weight: 900;
}
.headingLevel2--shelfTitle::after {
  content: "";
  width: 70px;
  height: 4px;
  border-bottom: 4px solid #C0C0C0;
  display: block;
}
@media screen and (max-width: 745px) {
  .headingLevel2--shelfTitle::after {
    content: "";
    width: 40px;
    height: 4px;
    border-bottom: 4px solid #C0C0C0;
    display: block;
  }
}
.paragraph--localizacaoTitle {
  font-size: 20px;
  margin-top: 0;
}
.paragraph--localizacaoTitle::after {
  content: "";
  width: 45px;
  border-bottom: 5px solid #FFFFFF;
  display: block;
}
@media screen and (max-width: 745px) {
  .paragraph--localizacaoTitle {
    font-size: 25px;
    margin-top: 0;
  }
  .paragraph--localizacaoTitle::after {
    content: "";
    width: 35px;
    border-bottom: 5px solid #FFFFFF;
    display: block;
  }
  .wrapper--buttonFooter1 {
    background-color: #FFFFFF;
    width: 198px;
    height: 38px;
    border-radius: 5px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 25px;
    cursor: pointer;
  }
  .wrapper--buttonFooter2 {
    background-color: #FFFFFF;
    width: 198px;
    height: 38px;
    border-radius: 5px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 5px;
    cursor: pointer;
  }
  .container--buttonFooter2 {
    margin-top: 15px;
  }
  .container--coreMobile {
    margin-right: 35px;
    font-size: 11px;
  }
  .container--vtexMobile {
    margin-left: 35px;
    font-size: 11px;
  }
}
.paragraph--localizacao {
  font-size: 13px;
  margin-left: 110px;
}
.paragraph--buttonFooter1 {
  display: flex;
}
.paragraph--buttonFooter2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper--buttonFooter1 {
  background-color: #FFFFFF;
  width: 195px;
  height: 38px;
  border-radius: 5px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 25px;
  cursor: pointer;
}
.wrapper--buttonFooter2 {
  background-color: #FFFFFF;
  width: 195px;
  height: 38px;
  border-radius: 5px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 5px;
  cursor: pointer;
}
.image--buttonFooter1 {
  margin-right: 14px;
}
.image--buttonFooter2 {
  width: 18px;
  height: 19px;
  margin-right: 10px;
}
.strong--buttonFooter2 {
  width: 129px;
}

.paragraph--localizacaoMobile {
  margin-left: 0px;
  font-size: 13px;
}


.container--core {
  margin-right: 12px;
}
.container--vtex {
  margin-left: 12px;
}
.paragraph--core {
  font-size: 10px;
}.paragraph--vtex {
  font-size: 10px;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  background-color: #F2F2F2;
  justify-content: center;
  height: 55px;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 5px;
  color: #333333;
}

.container--question .strong {
  font-size: 22px;
  line-height: 2rem;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    width: 531px;
    height: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
